.App-test {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 30px;
  width: 30px;
}

.footer {
  display: flex;
}

.footer a {
  margin: 5px;
  font-size: 35px;
  color: aliceblue;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.footer a:hover {
  font-size: 40px;
}

.fa-twitter:hover {
  color: rgb(0, 115, 255);
}

.fa-linkedin:hover {
  color: rgb(0, 191, 255);
}

.fa-github:hover {
  color: rgb(22, 25, 29);
}